# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\F-Projects\SILab2_163227\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
